{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <style>
        h1{
            margin-top: -30px;
        }
        .sp1{
            margin-top: -40px;
        }
        .p1{
            margin-top: -20px;
        }
    </style>
</head>
<body>
<div class="team-section">
<h1>OUR TEAM</h1>
    <span class="border sp1"></span>
<div class="pics">
    <a href="#p1">
        <img src="{% static 'images/mypic2.GIF' %}" alt="mahesh"
       style="width:200px; height: 200px;"  >
    </a>

    <a href="#p2">
        <img src="{% static 'images/srinu.GIF' %}" alt="naresh"
        style="width:200px; height: 200px;">
    </a>

</div>

    <div class="section" id="p1">
        <span class="name">Narayana</span>
        <span class="border"></span>
        <p class="p1">
            This is Narayana, Founder of Narayana Matrimonial world marriages, found in 1900 year..
        </p>
    </div>
<div class="section" id="p2">
        <span class="name">Srinivasarao</span>
        <span class="border"></span>
        <p class="p1">
            This is Srinivasarao, Co-Founder of Narayana Matrimonial world marriages, found in 1900 year..
        </p>
    </div>

</div>
</body>
</html>