{% load static %}
<html>
<head>
    <title>Customer Gallery</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/arjun.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/arjun.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/arjun.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/arjun.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>
</div>
</body>
</html>
