<html>
<head>
    <title>Changed Password</title>

    <style>
        body{
             background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://i.ytimg.com/vi/pc5FpSzm4_E/maxresdefault.jpg");
        }
        h1{
            text-align: center;
            color: #fff;
        }
    </style>

</head>
<body>
<h1>Password successfully updated</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="/login/" method="GET">
                {% csrf_token %}
               <center><input  type="submit" value="Login Page" class="btn btn-success"></center>
            </form>
        </div>
    </div>
</div>
</body>
</html>