{% load static %}

<html>
<head>
    <title>Change the Password</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        h2{
            text-align: center;
            color: #f44336;
            font-family: cursive;
        }
        body{
             background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://i.ytimg.com/vi/pc5FpSzm4_E/maxresdefault.jpg");
        }
        label{
            color: #fff;
        }
        img{
            width: 20px;
            text-align: center;
        }

    </style>

</head>

<body>
<h2>Update your password here....</h2>

<center>
<img  src="{% static 'images/pwd.png' %}" alt="namaste"
                style="width:200px; height: 200px;">
</center>



<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form method="POST">
                {% csrf_token %}
                {{ pform }}
                <br>
                <center><input type="submit" value="Update" class="btn btn-success btn-block"></center>
            </form>
        </div>
    </div>
</div>

</body>
</html>