<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .container{
            background-color: aqua;
             }
        form {
            background-color: cadetblue;
            border: 2px solid red;
            border-radius: 10px;
            padding: 5px 28px;
             }
    </style>
</head>
<body>

<div class="container">
    <h2> <center> Password Successfully Reset</center></h2>
    <div class="row">
        <div  class="col-md-offset-4 col-md-4">
            <form action="/login/" method="GET">
                {% csrf_token %}
                <center>
                    <button type="login" value="Login" class="btn btn-default btn-mid"> Click Here to Login</button>
{#                    <a href="/login">Click Here To Login</a>#}
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>
