<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="/home/">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="/history/">History</a></li>
		<li><a href="/management_committe/">Management Committe</a></li>
		<li><a href="/our_mission/">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="/rules/">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="/classes_12/">Classes 1&2</a></li>
		   <li><a href="/classes_35/">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="/soportiva/">Sportiva</a></li>
		<li><a href="/exubarence/">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="/about/">About</a></li>
		   <li><a href="/events/">Events</a></li>
		   <li><a href="/gallary/">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
<section class="panorama">
    <h1>About the Panorama</h1><br><br>
    <p>
        Bittu kids public school is poised as every year to host PANORAMA 2018 - A Techno
        Cultural Literary Sports fiesta.It invites all the schools, from all the corners of the
        country and more to compete and give an expression and outlet to their talents.
        PANORAMA 2018 will be an explosion of inherent talent of young blood which would only lead
        to more and more of excitement and zest. The celebration of the varied colours and nature of
        talent will definitely keep one and all in high spirits.The journey of PANORAMA is very
        interesting. It was conceptualized in 2008 by the students of Bittu kids public
        school. Though it was initiated at a much lower scale, with a matter of time it grew and
        it became so monumental that it now includes the maximum of participating schools from all
        over the country. It is a brain child of Despites of Rasra who have nurtured it to give it
        a wonderful her today. From 2014 we started inviting the celebrities of Bollywood to Pep
        up the evenings of PANORAMA and add more colors and entertainment.
        The Celebrities like Shalmali Kholgade, Shruti Pathak, Jazz Dhami, Bismil Band, Darshan
        Rawal had successfully mesmerized the audiences and left them wanting more of such
        performances.Though PANORAMA has been so successful and an excellent platform to
        showcase the inherent talents of the pupils,it is now, spreading the tendrils to invite
        the schools from abroad too. Nationally and Internationally PANORAMA would hoist the
        banner of Bittu kids public school to scale newer and higher heights. The zealous and
        enthusiastic core team of PANORAMA awaits the participating schools so that,
        this year too the event would leave them all nostalgic and with memorable moments to be
        notched in their portals.The event of PANORAMA abounds with the qualities of zest,
        enthusiasm, talent, fair play and obviously healthy team spirit. So, PANORAMA – 2018 will
        surely spurt all to give their best and win accolades that await the best of the talents.
        The team of PANORAMA – 2018 will be immensely obliged if you keep your dates free to be
        valuable part of this competition. So, send your confirmation by 3rd September,
        2018 for the events on 11th - 13th October, 2018.
    </p>
</section>
<section>
    <p> © Bkis.com All Rights Reserved.<br>Designed by mithilesh yadav Pvt. Ltd.</p>
</section>
</body>
</html>