<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="home.html">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="history.html">History</a></li>
		<li><a href="management_committe.html">Management Committe</a></li>
		<li><a href="our_mission.html">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="rules.html">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="classes_12.html">Classes 1&2</a></li>
		   <li><a href="classes_35.html">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="soportiva.html">Sportiva</a></li>
		<li><a href="exubarence.html">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="about.html">About</a></li>
		   <li><a href="events.html">Events</a></li>
		   <li><a href="gallary.html">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
<section class="events">
    <h1>Events of Panorama 2019</h1><br><br>
    <h2>Arts</h2>
    <h3>P01 COLOR SPLASH - CREATE YOUR STYLE</h3>
    <p>
        No. of participants - 2
        Time - 3 hours
        Theme - Contemporary Expression.
        The host school will provide a White Chart paper.
        Participants are ALLOWED TO USE ANY MEDIUM (Poster Colours, Acrylic etc.) of their choice.
        Your composition can be imaginary and contemporary according to your own perception.
    </p><br><br>
    <h3>P02 BANNER MOTIF (BANNER DESIGNING)</h3>
    <p>
        No. of participants - 2.
Time - 3 hours
Theme:- (a) Success through education (b) Technology Addiction
The host school will provide a BANNER (Flexible Vinyl) of size 5’ x 2’ – Vertical long.
Participants are required to bring paints (Acrylic, Permanent Pens etc.)
        to incorporate design and theme.
    </p><br><br>
    <h3>P03 ECO BAG DESIGNING</h3>
    <p>
        No. of participants - 2.
        Time - 2 hours
        The participants can use their creativity and skills to make an ecofriendly Bag.
        It should be sturdy of size 14” x 10” inches.
        Participants have to bring requisites. (Magazine, Newspaper, Craft Paper,
        Card board, other recycle material for decoration, fevicol etc.).
        Semi-made bags of pre – prepared materials is not allowed.
    </p>
</section>
<section class="panoramaComputer">
    <h2>Computers</h2>
    <h3>P04 GAMER’S HELL</h3>
    <p>
        No. of participants :1
        Modes of Gaming: PS3, PS4/PC
        Usage of cheat codes will lead to disqualification
    </p><br><br>
    <h3>P05 TECHNOTOON</h3>
    <p>
        No. of participants : 2
        The participants are expected to create an animation story for
        3 - 4 minutes using the provided Softwares: Adobe Photoshop,
        Adobe Premier Pro CS6, FL Studio 11, Macromedia, Flash, Filmora 8.7, Camtasia STUDIO 8.
    </p><br><br>
    <h3>P06 CRAZY CODER</h3>
    <p>
        No. of participant : 1
        First round qualifying round
        Top 6 teams will appear for final round.
        Coding on C++/ JAVA.

    </p><br><br>
</section>
<section class="poranamaCultaral">
    <h2>CULTURAL</h2>
    <h3>P07 RANGMANCH</h3>
    <p>
        Minimum 5 participants.
        Performing Theme: Folk dance of any 1 state.
        Time Limit: 5 - 7 minutes including Entry & Exit.
        (Exceeding the time limit will result in deduction of points)
        Stage Size: 15 x 10 ft.
        School team will bring only pen drive in audio format no CDs will be accepted.
        Submit your song at the time of registration i.e., at the registration counter.
    </p><br><br>
    <h3>P08 NUKKAD NATAK</h3>
    <p>
        A minimum of 4 and a maximum of 6 participants are allowed.
        Time limit : 5 - 8 minutes
        Language: Hindi/Hinglish.
        The play should be original.
        The Schools which require props (banners with slogans, clappers, masks etc.)
        must bring their own.
        Only handheld props may be used.
        Topic:- “ Social Media “का समाज और मन पर दबाव: क्या है बचाव”
        The teams would be judged on the basis of originality, acting.
    </p><br><br>
    <h3>P09 MUSY ZEST</h3>
    <p>
        Category:- Solo Song
        Genre/Form:- Semi – Classical Filmy Song
        Time Limit: - 5 Minutes on and off stage.
        Theme: - Raag based song on any of these raags. ( Bhairavi,
        Ashavari, Alahaiya, Bilawal, Jaunpuri)
        Participants: - 1 + 3 accompanist.
        Only students can play the Instruments for the Solo performance,
        to sing with or give backing vocals/ humming to the solo singer.
        Participating teams may use at the most 3 instruments.
        Participating teams should bring their own instruments.
        Participants should perform in school uniform, props and costumes are not permitted.
        Negative marking will be done for exceeding the time limit.
    </p>
</section>
<section>
    <p> © Bkis.com All Rights Reserved.<br>Designed by mithilesh yadav Pvt. Ltd.</p>
</section>
</body>
</html>