<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">
</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="home.html">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="history.html">History</a></li>
		<li><a href="management_committe.html">Management Committe</a></li>
		<li><a href="our_mission.html">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="rules.html">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="classes_12.html">Classes 1&2</a></li>
		   <li><a href="classes_35.html">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="soportiva.html">Sportiva</a></li>
		<li><a href="exubarence.html">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="about.html">About</a></li>
		   <li><a href="events.html">Events</a></li>
		   <li><a href="gallary.html">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
<section class="history">
    <h1>History of Bittu Kids Public School</h1><br><br>
    <p>
        Bittu kids public school under the aegis of BKI Society in only a short span of time
        under Mrs. Rinku yadav, the Principal of the school, has risen to great heights.
        From 110 or so students to more than 4000.
        The school has earned a recognition, regionally, zonally and at national level.
        We aim to proceed and flourish , to forge ahead.
        Nothing can be done without hope and confidence (which we have in abundance).
        The spirit of support and strength is imparted to one and all by Mr. Sanjay – The Pro – Vice
        Chairman whose unstinted support has made the school have the solid edifice on which rests its pinnacle,
        striding from strength to strength.
        The school under the leadership of its Principal and the strong role of management has covered a
        long journey and will touch many more milestones.
        Mrs.Rinku yadav credibility is unmatched as the mentor leader and guide of the school.
        The “Mithilesh yadav” and “Excellence Awards” were given to Mrs. Rinku yadav consecutively
        for 2 years.
        Bittu kids public school received the International School Award by British Council.
        She was also recognized as one the most effective principals out of the cluster,
        not only that, the school received the award as one of the best 10 CBSE schools.
        Also the World Education School had ranked the school as one of the best in terms of the
        performance and leadership.
        The infrastructure and discipline of the school speak volumes of its spirit invoked by the
        head,of the institution.
        No matter what the event, the moral values and overall development resound in the school
        and the norms it stands for.
        To sum up we can say about the spirit of Bittu kids Public Rasra is “always keep your
        face to the sunshine,face and you cannot see the shadow”.
    </p>
</section>
<section>
    <p> © Bkis.com All Rights Reserved.<br>Designed by mithilesh yadav Pvt. Ltd.</p>
</section>
</body>
</html>