{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
{% block content %}
<div><img src="static/images/maa.jpg"alt="maa.jpg"id="slideimage"></img></div>
<section class="content">
<h1> Welcome to Bittu Kids Public School</h1><br><br>
<p>
    Bittu Kids Public School was founded on the 2nd july 2012 with the prime aim of imparting a
    comprehensive modern education to the children with valuable Indian tradition of education
    in Patna & it's surroundings irrespective of caste, creed and community.

    The institute is located in plush premises at Ballia. It is 45 km away from Ballia Railway,
    Bus station surrounded by attractive healthy, natural environment that creates
    favourable academic conditions for alround development of children. Since the day of
    inception it has been determined to scale an unparalleled new graph of success to impart
    it to the children.

    We want our children to imbibe moral values in life. At present the rapid changes in technology
    and accelerated pace of privatisation and liberalisation created a new sense of uncertainity
    about the future of society. Thus education should respond meaningfully and effectively to
    address the crucial academic burning issues. Bittu Kids Public School in its efforts is
    providing need-based quality education to the blossoming knowledge which has decided to
    equip the children will pragmatic skills so that they can face the future with renewed
    confidence and matchless courage. The president of school is always nurturing the institute
    keeping sight and presenting all the facilities with help of management committee.
</p>
</section>
<section class="principle">
<h1>Principal's Desk </h1><br><br>
    <p>
        Bittu Kids Public School is an amalgamation of competent teachers, state - of - the-art
        infrastructure, an idyllic setting and an experienced and efficient administration.
        The school came into existence with the vision of creating a safe and supportive environment
        for its students – to provide a perfect balance of academics, sports, artistic and social
        opportunities.
        Childhood, youth and learning should be a joy and we strive for that.
        Bittu Kids Public School aims at holistic growth and development of its students.
        The school's genuine concern ensures student's emotional growth along with intellectual
        excellence.
    </p>
</section>
<section class="marq">
    <h1>Notice Board</h1>
    <marquee behavior="scroll" direction="up">
       <p> Update Date : 30/03/2019</p><br>
ENTRANCE RESULT FOR SESSION 2019 - 20 IS DECLARED NOW.<br> CLICK ON DOWNLOAD AND CHECK ENTRANCE
        RESULT 2019 - 20<br><br>

        <p>Update Date : 18/01/2019</p><br>
For Download Registration Form and Prospectus please click on Prospectus & Registration
        Form under Download section.<br><br>

        <p>Update Date : 10/01/2019</p><br>
For Detail Information about Fee Structure please click on Fee Structure under download section.<br>

        <p>Update Date : 10/01/2019</p><br>
NEW SESSION REGISTRATION OPENS FOR ALL CLASSES FROM 18-JAN-2019<br><br>

        <p>Update Date : 15/06/2016</p><br>
Welcome To School.
    </marquee>
</section>
{% endblock %}
</body>
</html>