<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="/home/">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="history.html">History</a></li>
		<li><a href="management_committe.html">Management Committe</a></li>
		<li><a href="our_mission.html">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="rules.html">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="classes_12.html">Classes 1&2</a></li>
		   <li><a href="classes_35.html">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="soportiva.html">Sportiva</a></li>
		<li><a href="exubarence.html">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="about.html">About</a></li>
		   <li><a href="events.html">Events</a></li>
		   <li><a href="gallary.html">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
<section class="management">
    <h1> Manager Desk</h1><br><br>
    <p>
        About 7 years ago my elder brother Akhilesh yadav (Founder of Bittu kids public school) thoughts
        shaped a line "A child is an ocean of immense possibilities and it is our noble duty to
        fish-out pearls for them". Of course, every child possesses unique inherent quality but
        latent talents not elsewhere found in conjecture. Its utilisation needs alert parental
        care at home and continuous inspiration, encouragement, environment clubbed with timely
        redressal of problems at school. Teacher's responsibility is to inculcate moral values,
        self-realisation, patience, restrain, tolerance and dutifulness to build a sound character,
        besides academic enhancement, variable excellence and personality development.
        This must be done consistantly, as per child's needs which always differs from child to child.
        Students must set a goal of life based on merits and mental inclination and not on
        glamoured choices. Therefore, choice of a child must not be rediculed. Its hostilities must
        be weeded out by psycho counselling. Children are tender, to them cruelty and hurting remarks
        are shocking. Our aim is to make them good, smart, dynamic, alert, honest, dutiful,
        dispilined, compassionate and caring. They need us. So do we. In such a situation orignal
        thoughts and ideas (which are changing face of globe) will come forth like water from a
        fountain. Efforts should innovative coupled with classical method of learning. Technology
        and audio-visual devices too should be accomodated to bring out inner potentional of students.
        Hence, inspiration will
        be the point of origin. Our students should be versatile and good in math, music and marathon.
    </p>
</section>
<section class="Imagemanagement">
    <h1> Management Committe</h1><br><br>
    <img src="{% static 'images/Capture1.PNG' %}">
    <img src="{% static 'images/Capture2.PNG' %}">
    <img src="{% static 'images/Capture3.PNG' %}">
    <img src="{% static 'images/Capture4.PNG' %}">
    <img src="{% static 'images/Capture5.PNG' %}">
    <img src="{% static 'images/Capture6.PNG' %}">
    <img src="{% static 'images/Capture1.PNG' %}">
    <img src="{% static 'images/Capture2.PNG' %}">
</section>
</body>
</html>