<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="home.html">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="history.html">History</a></li>
		<li><a href="management_committe.html">Management Committe</a></li>
		<li><a href="our_mission.html">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="rules.html">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="classes_12.html">Classes 1&2</a></li>
		   <li><a href="classes_35.html">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="soportiva.html">Sportiva</a></li>
		<li><a href="exubarence.html">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="about.html">About</a></li>
		   <li><a href="events.html">Events</a></li>
		   <li><a href="gallary.html">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
</body>
<section class="our_mission">
    <h1>Our Academic Vision & Mission</h1><br><br>
    <p>
        “We at Bittu kids public school Rasra-Ballia, find success in each one, some way, every day”.
        Our child centered philosophy has led us to a deeper commitment to enhancing the learning
        process in light of increased understanding of how children learn. The aim is to lead the
        students from the front by the teachers becoming role models and promoting and encouraging
        them in all the vistas of talent. Our emphasis on addressing individual needs of the child
        leads to continuous recognition, validation of our dedication to children & to making
        modifications which enhance the learning environment. The school believes in the adage
        ‘service before self’ and this is a reflection of the inner spirit and essence of the
        working of the school.
        To meet a long-felt need of providing quality educational facilities to our younger
        children, Bittu kids public school Rasra-Ballia has been opened. The School is located
        8kms. away from Rasra or 45kms. away from Ballia on Ballia-Lucknow State Highway.
        The School was started on jul., 2, 2012. It is an English medium institution co-educational
        and prepares students for CBSE examination. This institution aims at all round physical,
        mental moral and spiritual development of the child. Special care is taken to make the
        child a useful member of the society.
    </p>
</section>
<section>
    <p> © Bkis.com All Rights Reserved.<br>Designed by mithilesh yadav Pvt. Ltd.</p>
</section>
</html>