<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="home">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="history">History</a></li>
		<li><a href="management_committe">Management Committe</a></li>
		<li><a href="our_mission">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="rules">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="classes12">Classes 1&2</a></li>
		   <li><a href="classes35">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="soportiva">Sportiva</a></li>
		<li><a href="exubarence">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="about">About</a></li>
		   <li><a href="events">Events</a></li>
		   <li><a href="gallary">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
</body>
<section class="rules">
    <h1>Our Academic Rules and Regulation</h1><br><br>
    <p>
        1. Students who come to school with their escorts should never leave before the escort
        arrives. In case of delay,they should report to the school office.<br>
        2. Students who come to school on their own should reach the school 5 minutes before the
        first bell rings.<br>
        3. Changing of classrooms between periods should be done silently and in orderly manner.<br>
        4. Care must be taken of the school property.No student should damage any school furniture,
        write or draw anything on the walls.Damage done should reported at once to the class teacher.
        A fine will be levied.<br>
        5. The school reserves the right,after a warning,to suspend a student whose progress is
        unsatisfactory or whose conduct is harmful to other students.<br>
        6. No books(other than text books or library books),magazine or papers should be brought to
        the school.<br>
        7. Lending or borrowing of money or other articles is strictly prohibited.<br>
        8. The school is not responsible for goods lost.<br>
        9. Parents and guardians should contact the teacher on PTM days to note the progress of
        their wards.<br>
        10. A child who fails twice in the same class will not be permitted to continue his/her
        studies in the school.<br>
        11. Parents and guardians must not visit wards or teachers without prior permission of the
        principal.<br>
        12. Students should get their report cards signed by their parents/Guardians within two days
        of receipt of their report card.<br>
        13. A student will be fined in case of loss of the report card.<br>
        14. For celebrating their birthdays students are allowed to distribute only toffees and
        chocolates.No other eatables or gifts should be brought for this purpose for
        self or others.<br>
        15.For organizing any party, students must procure permission and inform the
        discipline-in-charge about it atleast a day prior.<br>
        16. All the students must carry their identity card round the year.<br>
        17. Any work related to co-currcular activities should be done only during the zero period
        and break time.<br>
        18. The name,class and section of the pupil should be clearly marked on all the belongings
        of the student.water bottle,blazer and jersey should also bear the name of the student.<br>
        19. A student who uses unfair means during tests will be given zero in the subject and a
        warning letter.Repetition of the same will result in dismissal.<br>
        20. Students using the school bus must maintain discipline in the bus.Bus facilities will
        be withdrawn in cases where discipline is not properly maintained.<br>
        21. Leave application must be sent in advance,in the leave application performa attached,
        at the end of the almanac.<br>
    </p>
</section>
<section>
    <p> © Bkis.com All Rights Reserved.<br>Designed by mithilesh yadav Pvt. Ltd.</p>
</section>
</html>