<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bkis.com</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home_style.css" %}">

</head>
<body>
<h1 id="logo">Bittu Kids public school</h1>
<nav>
    <div class="main">
	<ul>
	 <li><a href="home.html">Home</a></li>
	 <li><a href="#">AboutUs</a>
	  <ul>
	    <li><a href="history.html">History</a></li>
		<li><a href="management_committe.html">Management Committe</a></li>
		<li><a href="our_mission.html">Our Mission</a></li>
	  </ul>
	 </li>
        <li><a href="#">Academics</a>
	  <ul>
	    <li><a href="rules.html">Rules</a></li>
	  </ul>
	 </li>
        <li><a href="#">Gallary</a>
	  <ul>
          <li><a href="#">Images</a>
		 <ul>
		   <li><a href="classes_12.html">Classes 1&2</a></li>
		   <li><a href="classes_35.html">Classes 3&5</a></li>
		 </ul>
		</li>

	  </ul>
	 </li>
        <li><a href="#">Events</a>
	  <ul>
	    <li><a href="soportiva.html">Sportiva</a></li>
		<li><a href="exubarence.html">Exubarence</a></li>
          <li><a href="#">Panorama</a>
		 <ul>
		   <li><a href="about.html">About</a></li>
		   <li><a href="events.html">Events</a></li>
		   <li><a href="gallary.html">Gallary</a></li>
		 </ul>
		</li>
	  </ul>
	 </li>
	 <li><a href="reg_form.html">Reg.form</a></li>
        <li><a href="#">ContactUs</a>
	   <ul>
	    <li><a href="at_school.html">At School</a></li>
           <li><a href="#">Carrers</a>
		 <ul>
		  <li><a href="current.html">Current</a></li>
		  <li><a href="apply_now.html">Apply Now</a></li>
		 </ul>
		</li>
	   </ul>
	 </li>
	 <li><a href="download_syllabus.html">Download</a></li>
   </ul>
   </div>
</nav>
<section class="sportiva">
    <h1>Sportiva of Bittu Kids Public School</h1><br><br>
    <p>
        Chilly and Foggy winter morning could not be better, energetic and fiery.Sportivo-2016,the
        annual sports day concluded with full vigor and fervour.
        A humongous effort of weeks of punctilious and meticulous labour of teachers and students
        bore fruits Bittu Kids Public School., fraternity put up a phenomenal show.
        It was talent, versatility and perfection personified.
        The curtains were raised with all the 6 houses: Orchid, Tulips, Daffodils, Iris,
        Bluebells and Shamrock, competing with each other in different events. March-past,
        human-pyramids showcased teamwork, strength & unity of the students & their teams.
        Audience was left enthralled.
        The winner’s trophy was lifted by Iris House, followed by Orchid House as 1st runner up and
        Daffodils. House as the 2nd runner up. Relay races, hurdle jump and 400 m races captivated
        everyone and as the lady luck was with Iris House, they came 1st,followed by Orchid House
        as 1st runner up and Daffodils House as 2nd runner up.
        Indian fusion dance, a culmination of different regional folk dances, left the audience
        spell bound.The dance-drills, Sports based dances and finale enamoured the parents and
        teachers and took everyone by surprise.
        Eventually the best endings resonate because they echo the memories which are ecstatic and
        hold our immortal inspirations & hence Sportivo-2016 came to an end with the prize
        distribution by the chairman Mr. Mukhtarul Amin, Mrs. Shahina Amin and our Principal,
        Mrs. Rinku yadav
    </p>
</section>
<section>
    <p> © Bkis.com All Rights Reserved.<br>Designed by mithilesh yadav Pvt. Ltd.</p>
</section>
</body>
</html>